.App {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: green;
}

form {
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 600px;
}
form > * {
  margin: 10px 0;
  padding: 0;
}

figure {
  width: 600px;
  margin: 50px auto;
}

img {
  width: 100%;
}